:root {
    --destaque: #6528D3;
    --fundo: #FFF;
    --fundo-input: #F2EEFA;
    --fundo-cabecalho: #0E0027;
    --texto: #130234;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul{
    list-style: none;
}

body{
    font-family:'roboto','sans-serif';
    background-color: var(--fundo);
    transition: background-color 1s;
}

/* Cabeçalho */
.cabecalho{
    background-color: var(--fundo-cabecalho);
    display:grid;
    grid-template-columns: 2fr 1fr 2fr;
    padding:10px;
    margin-bottom:60px;
}

.cabecalho .esquerda{
    /* background-color: #4D8E5C; */
    display: flex;
    justify-content: start;
    padding-left: 15%;
    padding-right: 15%;
    align-items: center;
}

.cabecalho .centro{
    display: flex;
    align-items: center;
    justify-content: center;
}

.cabecalho .direita{
    display: flex;
    align-items: center;
    justify-content: center;
}

.cabecalho .direita #alterna-modo{
    background-color: transparent;
    border: none;
    height: 1cm;
    width: 1cm;
    background-image: url(/DoZeroAoProgContratado/scr/images/modo-escuro.png);
    background-size: 100%;
    cursor: pointer;
    transition:0.5s;
}

.cabecalho .direita #alterna-modo:hover{
    height: 1.1cm;
    width: 1.1cm;
    filter: brightness(80%) blur(1px);
    transition:0.5s;
}

/* Container */
.container{
    max-width: 1170px;
    margin:auto;
}
.titulo{
    color:var(--destaque);
    font-size:24px;
    font-weight:500;
    margin-bottom:32px;
    line-height:32px;
    letter-spacing:2px;
}

/* Filtros */
.linha{
    display:flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom:8px;
}
.coluna{
    display:flex;
    flex-direction:column;
    width:40%;
}
label, .legenda{
    letter-spacing:2px;
    font-weight: 500;
    color: var(--destaque);
}

.input{
    padding: 16px/*cima-baixo*/ 13px; /*dois-lados*/
    border-radius:2px;
    border: 2px solid var(--destaque);
    background-color: var(--fundo-input);
    color: var(--texto);
    height: 52px;
    transition: background-color 1s;
}

.container Select:focus,/*clicar no elemento*/
.container input:focus,
.container select:focus-visible,/*Mais moderno, foco quando selecionado por leitor de tela ou tecla. Ex: Tab*/
.container input:focus-visible {
    outline:none;
}
.container select .categoria{
    appearance:none; /*Retira a folha de estilos padrão*/
    background: url(/SemanaDoZero_MagikIA/scr/images/seta-para-baixo.png) 97%
    center no-repeat; /*O que isso faz?*/
}

.botao {
    border:none;
    background-color: var(--destaque);
    color: var(--fundo);
    transition: 0.3s;
    letter-spacing: 2px;
    cursor:pointer;
}

.botao:hover{
    background-color: #33008F;
    color: #c9c3d3;
}

.container .filtros .btn-filtrar{
    padding: 12px 32px;
    align-self:end;
    width: 177px;
    height: 52px;    
}

/*Filtros selecionados*/

.container .selecoes {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap:32px;
    margin-bottom:32px;
}

.container .selecoes #selecoes-texto{
    color: var(--texto);
}

/*Cartas*/
.container .cartas{ /*<ul class:"cartas"></ul>*/
    display:flex;
    flex-wrap:wrap;
    gap:32px; /*Espaço entre os elementos*/
    margin-top: 32px;
}

.carta{
    max-width:365px;
    background-color: var(--fundo);
    color: var(--texto);
    border-radius: 20px;
    box-shadow: 0 6px 12px rgb(0,0,0,0.2); /*deslocamento-horizontal: 0, deslocamento-vertical: 6px, desfoque:12px, cor(r:0 G:0 B:0 alfa:.2)*/
    transition: background-color 1s;
}
.container .carta img{
    width:100%;
    padding: 20px;
}
.container .carta .informacoes{
    display:flex;
    flex-direction:column;
    gap:10px;
    background-color: var(--fundo);
    padding:20px;
    border-bottom-left-radius:20px;
    border-bottom-right-radius:20px;
    transition: background-color 1s;
}
.container .carta .informacoes .nome-personagem{
    font-size:24px;
    font-weight:700;
    color: var(--texto);
}
.container .carta .informacoes .categoria {
    color:#7E7E7E;
    font-weight: 700;
}
.container .carta .informacoes .preco{
    font-size: 24px;
    letter-spacing: 2px;
    font-weight:700;
    color:#4D8E5C;
}
.container .carta .informacoes .btn-comprar, #btn-adicionar{
    border-radius: 4px;
    padding: 16px;
}

.rodape{
    background-color:var(--destaque);
    display:flex;
    justify-content:center;
    color:var(--fundo);
    padding:20px;
    margin-top:60px;
}
.esconder{
    display:none;
}
.mostrar{
    display:mostrar;
}
