@media(max-width:1024px){
    /*Regra só valerá enquanto o max-width for respeitado; width < 1024px*/
    /*Dá pra adicionar uma animação de transição para esssa regra?*/
    .container {
        padding:20px;
    }

    .container h1{
        text-align: center;
    }

    .container .filtros{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 16px; /*Perguntar o que isso faz, e a diferença do margin.*/
    }

    .container .filtros .categorias-cartas, .container .filtros .preco-cartas, 
    .container .filtros .btn-filtrar
    {
        width: 65%;
    }
    
    .container .filtros .btn-filtrar{
        align-self: center;
    }

    .container .cartas {
        justify-content: center;
    }
}

@media(max-width: 480px){
    .container .filtros .categorias-cartas,
    .container .filtros .preco-cartas,
    .container .filtros .btn-filtrar
    {
        width: 100%
    }
}
